In [2]:
# Load the "Iris" dataset into a Pandas DataFrame
import pandas as pd

from sklearn.datasets import load_iris

data = load_iris()
df = pd.DataFrame(data["data"], columns=data["feature_names"])
df["target"] = data["target"]
df["target"] = df["target"].map({0: "setosa", 1: "versicolor", 2: "virginica"})

In [4]:
# Display the first 5 rows of the DataFrame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [5]:
# Check the shape of the DataFrame (Number of Rows & Columns)
df.shape

(150, 5)

In [6]:
# Check the data types of each column
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                object
dtype: object

In [7]:
# Check for missing values in the DataFrame
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [25]:
# Calculate the mean, median, and mode for the "sepal length (cm)" column
mean = df['sepal length (cm)'].mean()
median = df['sepal length (cm)'].median()
mode = df['sepal length (cm)'].mode()
print(mean)
print(median)
print(mode)

5.843333333333334
5.8
0    5.0
Name: sepal length (cm), dtype: float64

In [36]:
# Calculate the range, variance, and standard deviation for the "petal width (cm)" column
range =df['petal width (cm)'].max() - df['petal width (cm)'].min()
variance = df['petal width (cm)'].var()
std_deviation = df['petal width (cm)'].std()

print(range)
print(variance)
std_deviation

2.4
0.5810062639821029

0.7622376689603465

In [49]:
# Calculate the skewness and kurtosis for the "sepal width (cm)" column.
skewness = df["sepal width (cm)"].skew()
kurtosis = df["sepal width (cm)"].kurtosis()
print(skewness)
print(kurtosis)

0.31896566471359966
0.2282490424681929

In [58]:
# Count the number of unique values in the "target" column
print(df['target'].nunique())

3

In [63]:
# Group the data by the "target" column and calculate the mean for each group using the "groupby()"
# method and the "mean()" method.
df.groupby('target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026